<head>
    <!-- Page Title -->
    <% if(page.title) { %>
        <title> <%- page.title %>  </title>
    <% } else { %>
        <title>Discord Dashboard</title>
    <% } %> 
    <!-- Metatags -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styling -->
    <link rel="stylesheet" href="/css/index.css">
</head>