* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto";
}

body {
    background-color: #18191c;
}

.serverList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.serverCard {
    background-color: #36393f;
    display: inline-block;
    min-width: 350px;
    max-width: 350px;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 8px;
}

.serverCard .cardContent {
    display: flex;
    align-items: center;
}

.serverCard .serverImage img {
    width: 64px;
    object-fit: cover;
    border-radius: 64px;
}

.serverCard div {
    display: inline-block;
    margin: 0px 0.5rem;
}

.serverCard .serverInfo h1 {
    color: white;
    font-size: 1rem;
}

.serverCard .cardInteraction {
    display: block;
    margin-top: 1rem;
}

.serverCard .cardInteraction a {
    background-color: #43b581;
    color: white;
    display: block;
    text-decoration: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    text-align: center;
}